<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureApp-Backend</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    Herzlich Willkommen auf dem Backend der SecureApp!
    <br> 
    <br>
    <b>Links:</b>
    <br>
    <br>
    <a href="https://github.com/MaHo1194/secure_app">SecureApp auf GitHub</a>
    <br>
    <a href="https://github.com/MaHo1194/secure_app">SecureApp zum Download vom Jupiter-Server</a>


</body>
</html>