<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test TLS</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    Dieses WebView wird zum Testen der sicheren Kommunikation verwendet. <br>
    Die Verbindung zum Backend wird mit Hilfe von TLS verschlüsselt. <br>

    <hr>

    <b>Anleitung:</b><br>
    Zum Testen der HTTPS-Verschlüsselung kann beispielsweise auf die <a href="https://portswigger.net/burp/communitydownload"> Burp Suite</a> zurückgegriffen werden.
    <br>
    Erster Schritt: Zunächst einen beliebigen String in das nachfolgende Feld eingeben. <br>
    Zweiter Schritt: Mit einem Klick auf Senden wird der Teststring mit einem Post-Befehl abgeschickt und anschließend mit einem Get-Befehl erneut ausgegeben.


    <form action="insecure_communication_test/submit" method="POST">
        <input type="text" name="id">
        <button>Senden</button>
    </form>
</body>
</html>